MAPBOX_API_KEY="{{ MAPBOX_API_KEY }}"
WEATHER_STACK_API_KEY="{{ WEATHER_STACK_API_KEY }}"
PATH_TO_SSL_CERTIFICATE_PRIVATE_KEY_FILE="{{ PATH_TO_SSL_CERTIFICATE_PRIVATE_KEY_FILE }}"
PATH_TO_SSL_CERTIFICATE_FILE="{{ PATH_TO_SSL_CERTIFICATE_FILE }}"